<% if @filtered %>
<h1>List of potential Fur-ends!</h1>
<ul>
  <%@filtered.each do |dog|%>
    <li><%=link_to dog.breed, dog_path(dog)%></li>
  <% end %>
</ul>

<!-- user/:id/:edit -->
<br>
  <%= form_tag("/users/#{@user.id}/dogs", method: :patch) do %>
    <%=collection_check_boxes :user, :dogs, @filtered, :id, :breed%>
    <%= submit_tag "Add Dog" %>
  <%end%><br>
<%end%>
