<h1 class='text-center red'>Welcome to Fur-ever Fur-end </h1>

<div class="row">
    <div class="col-md-12 padding-0">
        <img src="https://images.unsplash.com/photo-1444212477490-ca407925329e?auto=format&fit=crop&w=800&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" />
    </div>
</div>
