<h1 class='text-center'>Welcome</h1>
<h2 class = 'text-center'>Sign up or Login to meet your furever</h2>
<div class="text-center">
  <%= image_tag "paw_1.png" %>
</div>


<img src="https://goo.gl/Fvy8ve" id="bg" alt="dog_home">
