/* Custom CSS for home image  */
.container{
  padding-top: 80px;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h2{
  color: white;
}

.navbar-brand {
    position: relative;
    background: url(paw_1.png);
    width: 200px;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;

}

/*-------------Custom Navbar-----------------*/

.navbar-custom {
    background-color:whitesmoke;
    color: black;

}

.navbar-custom .navbar-nav > li > a {
    color: black;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: darkgrey;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
/*---------------end of nav custom--------------*/

.center_div{
    margin: 0 auto;
    width: 40% /* value of your choice which suits your alignment */
}
.center_div_info{
    width: 40% /* value of your choice which suits your alignment */

}

.center_div_index{
  padding-top: 50px;
}

.move_left{
  margin: 0;
}
