/* Custom CSS for home image  */

body {

  font-family: 'Roboto', sans-serif;

}

/*h1{

  font-weight: bold;
}*/

/*@font-face{
  font-family:"simplifica";
  src:font-url("simplifica.ttf") format("truetype");
}

body{
  font-family: "simplifica";
}*/

.container{
  padding-top: 80px;
  border-color: black;
  z-index: 1;
  /*margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 520px;
  background-color: rgba(211,211,211,0.5);*/
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

}


.navbar-brand {

    position: relative;
    background: url(paw_1.png);
    width: 300px;
    left: 5px;
    background-size: contain;
    background-repeat: no-repeat;

}

.move_left{

  padding-left: 30px;
}

/*-------------Custom Navbar-----------------*/

.navbar-custom {
    background-color:whitesmoke;
    color: black;

}

.navbar-custom .navbar-nav > li > a {
    color: black;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: darkgrey;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
/*---------------end of nav custom--------------*/

.center_div{
    margin: 0 auto;
    width: 40% /* value of your choice which suits your alignment */
}
.center_div_info{
    width: 40% /* value of your choice which suits your alignment */

}

.center_div_index{
  padding-top: 50px;
  border-color: black;
  z-index: 1;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  height: 520px;
  background-color: rgba(211,211,211,0.5);
}

.move_left{
  margin: 0;
}

.move_btn_right{
  padding-left: 30px;
}

ul {
  list-style-type: none;
}
